.root{
    -fx-background-color: #032564;
}
.label{
    -fx-text-fill: #FFFFFF;
}
.text-area{
    -fx-highlight-text-fill: black;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 12px;
}
.text-area .content {
    -fx-background-color: black ;
}
.button{
    -fx-background-color: linear-gradient(#F4E900, #F40600);
    -fx-text-fill: #032564;
    -fx-background-radius: 6;
}
